* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 20px;
}


/* General elements */

body {
    display: grid;
    font-family: "Roboto Condensed", sans-serif;
    grid-template: repeat(4, auto) / auto 1fr;
    grid-template-areas: "nav top" "nav projects" "nav contact" "footer footer";
}

.uppercase {
    text-transform: uppercase !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rokkitt", serif;
    font-weight: 600 !important;
    margin: 0.5rem 0;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4,
p {
    font-size: 1rem;
}

h5 {
    font-size: 0.875rem;
}

h6 {
    font-size: 0.75rem;
}

strong,
b {
    font-weight: 600 !important;
}

p {
    margin: 1rem 0;
}

a {
    text-decoration: none;
    color: darkgray;
    transition: color 0.15s ease-in-out;
}

a:hover,
a:focus {
    color: #ceff00;
    transition: color 0.15s ease-in-out;
}


/* Menu */

nav {
    grid-area: nav;
    width: calc(1rem + 2rem + 1rem);
    background-color: black;
    border-right: 2px solid gray;
}

.nav-open {
    width: calc(1rem + 150px + 1rem + 2rem + 1rem) !important;
}

#mobile-menu {
    display: none;
}

#sliding-menu {
    display: flex;
    position: fixed;
    left: calc(-150px + -1rem);
    flex-direction: row-reverse;
    align-content: flex-start;
    margin-top: 1rem;
}

.menu-open {
    left: 0 !important;
}

#sliding-menu a {
    cursor: pointer;
}

#sliding-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0 1rem;
    width: 150px;
}

#sliding-menu ul li {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

nav ul li a {
    color: white;
    transition: color 0.2s ease-in-out;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #ceff00;
    transition: color 0.2s ease-in-out;
}

#sliding-menu img {
    height: 2rem;
    width: auto;
    margin-right: 1rem;
}


/* Main elements */

main,
section {
    padding: 0.5rem 1rem;
}


/* Top section */

.bio {
    display: flex;
}

.bio img {
    height: 250px;
    width: auto;
    border: 1px solid black;
}

.bio .brief {
    padding: 0 1rem;
}


/* Projects */

#projects {
    grid-area: projects;
}

.project {
    display: grid;
    grid-template: auto / 1fr 1fr;
    grid-template-areas: "desc skills";
    margin-bottom: 1.5rem;
}

.project .desc {
    grid-area: desc;
}

.project .skills {
    grid-area: skills;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project .skills img {
    height: 75px;
    width: auto;
    margin: 0 0.5rem;
}


/* Contact */

#contact {
    grid-area: contact;
}

.contact-icons {
    display: flex;
    align-items: center;
}

.contact-icons img {
    height: 50px;
    width: auto;
    margin: 0 0.5rem;
}


/* Footer */

footer {
    grid-area: footer;
    background-color: #ceff00;
    border-top: 2px solid gray;
    color: black;
    padding: 0.5rem 1rem;
}